$xs-padding: 2%;
$sm-padding: 2%;
$md-padding: 2%;
$lg-padding: 5%;
$xl-padding: 15%;

$xs-modules-gap: 30px;
$sm-modules-gap: 30px;
$md-modules-gap: 30px;
$lg-modules-gap: 30px;
$xl-modules-gap: 30px;

$xs-elements-gap: 20px;
$sm-elements-gap: 20px;
$md-elements-gap: 20px;
$lg-elements-gap: 20px;
$xl-elements-gap: 20px;

$xs-header-logo-width: 70%;
$sm-header-logo-width: 60%;
$md-header-logo-width: 40%;
$lg-header-logo-width: 30%;
$xl-header-logo-width: 25%;

$xs-heading1-font-size: 20px;
$sm-heading1-font-size: 40px;
$md-heading1-font-size: 40px;
$lg-heading1-font-size: 40px;
$xl-heading1-font-size: 40px;

$xs-heading2-font-size: rem(20);
$sm-heading2-font-size: rem(30);
$md-heading2-font-size: rem(30);
$lg-heading2-font-size: rem(45);
$xl-heading2-font-size: rem(45);

$xs-heading3-font-size: rem(14);
$sm-heading3-font-size: rem(16);
$md-heading3-font-size: rem(20);
$lg-heading3-font-size: rem(20);
$xl-heading3-font-size: rem(20);

$xs-heading4-font-size: rem(12);
$sm-heading4-font-size: rem(16);
$md-heading4-font-size: rem(16);
$lg-heading4-font-size: rem(16);
$xl-heading4-font-size: rem(16);

$xs-heading4-span-font-size: rem(30);
$sm-heading4-span-font-size: rem(35);
$md-heading4-span-font-size: rem(35);
$lg-heading4-span-font-size: rem(35);
$xl-heading4-span-font-size: rem(35);

$xs-description1-font-size: rem(12);
$sm-description1-font-size: rem(15);
$md-description1-font-size: rem(15);
$lg-description1-font-size: rem(20);
$xl-description1-font-size: rem(20);

$xs-description2-font-size: rem(12);
$sm-description2-font-size: rem(13);
$md-description2-font-size: rem(13);
$lg-description2-font-size: rem(13);
$xl-description2-font-size: rem(13);

$xs-topBarText-font-size: rem(14);
$sm-topBarText-font-size: rem(14);
$md-topBarText-font-size: rem(14);
$lg-topBarText-font-size: rem(14);
$xl-topBarText-font-size: rem(14);

$xs-smallerText-font-size: rem(12);
$sm-smallerText-font-size: rem(12);
$md-smallerText-font-size: rem(12);
$lg-smallerText-font-size: rem(12);
$xl-smallerText-font-size: rem(12);

$main-color-1: #0080ff;
$button-color-1: #0080ff;
$main-color-2: #E8F0FD;
$main-color-3: #18150E;
$logo-color-1: #DBA477;
$logo-color-2: #FFFFFF;
$logo-text-color: #FEF0E5;
$secondary-color: #212529;
$light-text-color: #FFFFFF;
$circle-color: #FFFFFF80;
$dark-text-color: #000000;
$overlay-color-1: #5137FF12;
$overlay-color-2: #FFFFFF80;
$soft-text-color: #747171;
$warning-color: #FF0000;
$carousel-arrow-color: #FFFFFF;
$carousel-arrow-background-color: #00000080;
$background-circle-color-1: #ff9b47;
$background-circle-color-2: #E66A2E;
$background-circle-color-3: #C3543A;
$background-circle-color-4: #E7A243;
$background-circle-color-5: #D9932A;
$background-circle-color-6: #FF8C6A;
$background-circle-color-7: #D66B22;
$background-circle-color-8: #E04D2C;
$background-circle-color-9: #A64525;
$background-circle-color-10: #A64525;