.module_Intro {
  border-spacing: 40px 20px;
  .picContainer {
    width: 50%;
    border-radius: 40px;
    transition: scale 300ms;
    cursor: pointer;
    &:hover {
      scale: 1.06;
    }
    .pic {
      border-radius: inherit;
      position: relative;
      width: 100%;
    }
  }
  .title {
    color: $dark-text-color;
    align-self: flex-end;
    vertical-align: bottom;
  }
  .description {
    list-style-position: inside; //otherwise points go outside container
    color: $dark-text-color;
    vertical-align: top;
  }
}
  
  